.obsidian/plugins/readwise-official/data.json
.obsidian/plugins/readwise-official/manifest.json
.obsidian/plugins/readwise-official/main.js
.obsidian/plugins/readwise-official/styles.css
.obsidian/plugins/table-editor-obsidian/data.json
.obsidian/plugins/table-editor-obsidian/main.js
.obsidian/plugins/table-editor-obsidian/manifest.json
.obsidian/plugins/table-editor-obsidian/styles.css
.obsidian/workspace.json
.DS_Store
